{
  "root": true,
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "extends": [
    // append eslint rules
    "eslint:recommended",
    // append prettier config
    "plugin:prettier/recommended"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
