coverage/
node_modules/
*.log
*.md
!README.md
*.txt
*.json
!.eslintrc.json
!.prettierrc.json
!package.json
!package-lock.json

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

